/* Fondo con gradiente */
.hero-container {
    text-align: center;
    background: linear-gradient(to right, #e0c3fc, #8ec5fc);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .btn {
    padding: 1em 2em;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    margin: 0.3em;
  }
  
  .btn.primary {
    background-color: #4f46e5;
    color: white;
  }
  
  .btn.secondary {
    background-color: white;
    border: 1px solid #ccc;
  }
  
  /* Contenido principal */
  .hero-content h2 {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .highlight {
    color: #6b46c1;
  }
  
  .hero-buttons {
    margin-top: 1em;
  }
  
  /* Estadísticas */
  .stats {/*ESTO YA NO SE USA*/
    display: flex;
    gap: 20px;
    margin-top: 40px;
  }
   
  .card { /*ESTO YA NO SE USA*/
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .chart-container-hero {
  width: 50%;
  height: 35vh;
  margin-top: 2rem;
}
