/* Fondo con gradiente */
.login-container {
    text-align: center;
    background: linear-gradient(to bottom right, #d7e1ec, #b4c5e4);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .full-width {
    width: 100%;
  }
  
  /* Tarjeta de Login */
  .login-card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: left;
  }
  
  .login-card h2 {
    text-align: center;
  }
  
  .subtitle {
    text-align: center;
    color: #666;
    font-size: 0.9rem;
  }
  
  /* Icono de candado */
  .icon-lock {
    font-size: 2rem;
    text-align: center;
    margin: 10px 0;
    color: #3b82f6;
  }
  
  /* Inputs */
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 0.9rem;
    margin-top: 10px;
    color: #333;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  /* Contraseña con icono */
  .password-container {
    position: relative;
  }
  
  .eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  /* Enlaces */
  .links {
    text-align: center;
    margin-top: 10px;
  }
  
  .links a {
    color: #2563eb;
    text-decoration: none;
  }
  
  .links a:hover {
    text-decoration: underline;
  }
  